*,*::after,*::before{
    box-sizing: border-box;
}

body{
    font-size: 150%;
    line-height: 1.5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: -moz-linear-gradient(top, #20B2AA, #FFFFFF 29%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #20B2AA), color-stop(0.29, #FFFFFF));
    background-color: #DDDDDD;
    padding: 0.625rem;
    font-family: Verdana, Geneva, sans-serif;
    color: #888888;
    text-align: center;
}

/* Header section */
.main-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #FFFFFF;
    padding: .5rem;
    width: 100%;
} 
.main-header h1::first-letter{
    color:#ff0000;
    font-size: xx-large;
}
.main-header h3::first-letter{
    color:#ff0000;
    font-size: xx-large;
}
.main-header h3::after{
    color: #25c025;
    content: "Christian Ndifor";
}
/* Nav bar */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: #e3e4e2; */
  }
  
  nav a {
    width: 10%;
    margin: 1% 5%;
    color: #13293d;
    /* background-color: #e3e4e2; */
    /* border: 3px solid #13293d; */
    border-radius: 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 130%;
    border-bottom: 2rem solid #13293d;
  }
  
  nav a:hover {
    text-decoration: underline #8ac4ff;
    color: #355e85;
    border-bottom:2 rem solid #355e85;
  }

  nav a:active {
    font-size: 110%;
    box-shadow: 0 0 10px #8ac4ff inset;
  }
  nav a:focus {
    outline: none;
    color: #fff;
    background-color: none;
    border-color: #8ac4ff;
  }
  

/* Main section */
main{
    display: flex;
    flex-wrap: wrap;
}

.cards{
    flex: 1 0 25rem;
    /* border: 0.3rem solid ; */
    margin:.3rem;
    padding: .5rem;
    border-radius: 0.5rem;
    position: relative;
    box-shadow: 0 0 10px #d5d8db inset;
}

.cards:hover {
    /* filter: blur(5px);
    -webkit-filter: blur(5px); */
    flex: 1 0 27rem;
    border: 0.2rem solid #8ac4ff;
    box-shadow: 0 0 10px #8ac4ff outset;
    cursor: pointer;
  }

  .cards:active {
    font-size: 110%;
    box-shadow: 0 0 10px #8ac4ff inset;
  }
  .cards:focus {
    outline: none;
    color: #fff;
    background-color: none;
  }

.cards header h1{
    color: #13293d;
    text-align: center;
    /* background-color: #e3e4e2; */
    padding: .5rem;
    background-image: -moz-linear-gradient(top, #20B2AA, #FFFFFF 29%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #20B2AA), color-stop(0.29, #FFFFFF));
    background-color: #DDDDDD;
    padding: 0.625rem;
    font-family: Verdana, Geneva, sans-serif;
    color: #888888;
    text-align: center;
}

.cards p{
    text-align: center;
    color: #888888;
    /* background-color: #e3e4e2; */
    padding: 0 .5rem;
    z-index: 2;
}
.cards p::before{
        font-family: Impact;
        content: '\2606';
        color: #D4AF37;
        margin-right: 5px;
}
.cards img{
    width: 100%;
    /* min-width: 400px; */
    z-index: 3;
}

.cards .doMagic{
    position: absolute;
    top: 40%;
    left:35%;
    color:#fff;
    border: .2rem solid #fff;
    padding: .5rem;
    text-decoration: none;
    background-color: transparent;
    border-radius: .5rem;
    z-index: 5;
    display: none;
}

.cards:hover .doMagic{
    display: block;
}
/* Article */
article h1{
    margin-left: 1rem;
    font-style: italic;
    text-decoration: underline;
    background-image: -moz-linear-gradient(top, #20B2AA, #FFFFFF 29%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #20B2AA), color-stop(0.29, #FFFFFF));
    background-color: #DDDDDD;
    padding: 0.625rem;
    font-family: Verdana, Geneva, sans-serif;
    color: #888888;
    text-align: center;
}
article p {
    padding: .5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

/* Tooltip */
span[data-descr]{
    position:relative;
    padding: 1% 0;
    text-decoration: underline;
    color:#000;
    cursor:grab;
  }
  
  /* TODO: Position tooltip above the keyword, same color as header and nav links, no border-radius, smaller font size */
  span[data-descr]:hover::after,
  span[data-descr]:focus::after{
    content:attr(data-descr);
    position:absolute;
    left:0px;
    bottom:1.75rem;
    min-width: 1.4rem;
    border:1px #aaaaaa ridge;
    background-color: #772014;
    padding: .75rem;
    border-radius: .5rem;
    z-index: 1;
    font-size: 75%;
    background-image: -moz-linear-gradient(top, #20B2AA, #FFFFFF 29%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #20B2AA), color-stop(0.29, #FFFFFF));
    background-color: #DDDDDD;
    padding: 0.625rem;
    font-family: Verdana, Geneva, sans-serif;
    color: #888888;
    text-align: center;
  }
/* Footer */
footer {
    background-color: #e3e4e2;
    padding: 1rem;
    background-image: -moz-linear-gradient(top, #20B2AA, #FFFFFF 40%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #20B2AA), color-stop(0.4, #FFFFFF));
    background-color: #DDDDDD;
    padding: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12pt;
    color: #888888;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .cards{
        width:50%;
    }
    .main-header{
        color: blue;
    }
}
@media screen and (max-width: 768px){
    .cards{
        width:50%;
    }
    .cards img{
        width:100%;
    }
    .main-header{
        color: yellow;
    }
    nav{
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }
    nav a{
        margin: 0 auto;
        border-bottom: 0;
    }
}
@media screen and (max-width: 576px){
    .cards img{
        width:100%;
    }
    .main-header{
        color: brown;
    }
    nav{
        display: none;
    }
}